<p>
<br />
<hr />
<br />
<strong><em>By Achintya Rao</em> &middot; &lt;<a href="mailto:a.r@cern.ch">a.r@cern.ch</a>&gt; or &lt;<a href="mailto:web-editor@cern.ch">web-editor@cern.ch</a>&gt;</strong></br>
<em>Source</em>: <a href="https://gitlab.cern.ch/writing-team/web-editor/content-checklist/">gitlab.cern.ch/writing-team/web-editor/content-checklist</a><br />
<em>Comments and suggestions</em>: <a href="https://gitlab.cern.ch/writing-team/web-editor/content-checklist/issues/">gitlab.cern.ch/writing-team/web-editor/content-checklist/issues</a>
<p>
